<div class="logo-wrapper flex-start">
    <div class="logo-header">
        <a href="/"><img src="/src/assets/images/novaorders_logo.png" alt="NovaOrders Logo" loading="lazy">
    </div></a>
    <div class="logo-heading">
        <h1>Novaorders</h1>
        <p>Modern Service Ordering Experience</p>
    </div>
</div>

<div class="nav flex-end">
    <nav>
        <ul>
            <li><a href="/services.html">Services</a></li>
            <li><a href="/faq.html">FAQ</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
    </nav>
</div>