<div class="logo-wrapper flex-start">
    <div class="logo-header">
        <a href="/"><img src="/images/novaorders_logo.png" alt="NovaOrders Logo" loading="lazy"></a>
    </div>
    <div class="logo-heading">
        <h1>NovaOrders</h1>
        <p>Modern Service Ordering Experience</p>
    </div>
</div>

<div class="nav flex-end">
    <nav>
        <ul>
            <li>
                <i class="fas fa-gear"></i><br>
                <a href="/services.html">Services</a>
            </li>
            <li>
                <i class="fas fa-question"></i><br>
                <a href="/faq.html">FAQ</a>
            </li>
            <li>
                <i class="fas fa-headset"></i><br>
                <a href="/contact.html">Contact</a>
            </li>
        </ul>
    </nav>
</div>

<div class="nav-mobile">
    <nav>
        <ul>
            <li>
                <a href="/services.html">
                    <i class="fas fa-gear"></i> Services
                </a>
            </li>
            <li>
                <a href="/faq.html">
                    <i class="fas fa-question"></i> FAQ
                </a>
            </li>
            <li>
                <a href="/contact.html">
                    <i class="fas fa-headset"></i> Contact
                </a>
            </li>
        </ul>
    </nav>
</div>