header {
    background-color: var(--surface-color);
    width: 100%;
    padding: 10px 40px; 
    box-sizing: border-box;
    box-shadow: var(--shadow-color);
    border-bottom: 1px solid var(--border-color);
}

.logo-wrapper, 
.nav, 
.nav-spacer {
    flex: 1; 
}

.logo-wrapper {
    gap: 15px; 
}

.logo-header img {
    height: 100px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; 
}

.nav li:nth-child(2) {
    margin: 0px var(--spacing-xl);
}

.nav a {
    text-decoration: none;
    font-size: var(--text-m);
    position: relative;
}
.nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transition: all 0.3s ease-in-out;
}

.nav a:hover::after {
    width: 100%;
}